
<button class="btn btn-primary" (click)="onSimpleCommand()">Simple</button>
<button class="btn btn-primary" (click)="onToggleCommand()">Toggle: {{toggleCommand$ | async}}</button>

<div class="row">
  <div *ngIf="(display$ | async) as display">
    <pre>{{ display | json }}</pre>
  </div>
</div>
