<div>
  <button class="btn btn-primary mx-1" (click)="refreshDataClick()">Refresh Jokes</button>
  <button class="btn btn-primary mx-1" (click)="toggleNerdy()">Nerdy: {{ nerdyFlag$ | async }}</button>
  <button class="btn btn-primary mx-1" (click)="pauseFeed()">Pause feed: {{ pauseFeed$ | async }}</button>
</div>
<div>
  number of jokes: {{ (polledJoke$ | async)?.length }}
</div>
<div>
  <blockquote class="blockquote" *ngFor="let joke of polledJoke$ | async">
    <p class="my-5">{{joke.joke}}</p>
  </blockquote>
</div>
