<hr>
<h3>Simple Counter</h3>

<button class="btn btn-primary" (click)="start()">start</button>
<button class="btn btn-primary" (click)="stop()">stop</button>

<div class="row">
  <div class="col-2">
    <ul>
      <li *ngFor="let item of allValues | async">
        {{item}}
      </li>
    </ul>
  </div>

  <div class="col-2">
    <ul>
      <li *ngFor="let item of evenValues | async">
        {{item}}
      </li>
    </ul>
  </div>
</div>

<hr>
