<div class="container">

  <div class="container my-2">
    <div class="row">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Simple Counter</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="test-merge-map" routerLinkActive="active">Test mergeMap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="demo-test" routerLinkActive="active">Demo test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="joke" routerLinkActive="active">Joke</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="chuck" routerLinkActive="active">Chuck</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--content-->
  <router-outlet></router-outlet>
</div>
