// https://medium.com/@tomastrajan/how-to-style-angular-application-loading-with-angular-cli-like-a-boss-cdd4f5358554
// https://www.base64-image.de/

.app-loading {
  .logo {
    width: 100px;
    height: 100px;

    // this way asset gets processed by webpack
    //background: url(./assets/logo.png) center center no-repeat;
  }
}
