<h3>{{title}}</h3>

<button class="btn btn-primary" (click)="onClick()">click</button>

<div class="row">
  <div class="col-md-6 col-xl-3" *ngFor="let user of users">
    <app-user-item [user]="user"></app-user-item>
  </div>
</div>

<!--<pre>{{ values | json}}</pre>-->
